#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    margin: 10px 30px;
    border-radius: 2rem;
    padding: 0px 30px;
}
#navleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    width: 40%;
    /* gap: 10px; */
} 
#navright{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-left: 10px;
    gap: 30px;
}
#navbar{
    margin: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}